# This is similar to the room of requirements in the Harry Potter book series, in the sense that it is larger on the inside than it appears.

       ____  __.---""---.__  ____
      /####\/              \/####\
     (   /\ )              ( /\   )
     \____/                \____/
    __/                          \__
 .-"    .                      .    "-.
 |  |   \.._                _../   |  |
  \  \    \."-.__________.-"./    /  /
    \  \    "--.________.--"    /  /
  ___\  \_                    _/  /___
./    )))))                  (((((    \.
\                                      /
 \           \_          _/           /
   \    \____/""-.____.-""\____/    /
     \    \                  /    /
      \.  .|                |.  ./
    ." / |  \              /  | \  ".
 ."  /   |   \            /   |   \   ".
/.-./.--.|.--.\          /.--.|.--.\.-.|
